body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    background: #1f2937;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 500px;
    padding-right: 500px;
    background: #1f2937;
    flex-shrink: 0;
    min-width: 100px;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    gap: 8px;
    flex-shrink: 0;
    align-items: center;
    font-size: 18px;
}

li, a, .secondary-text {
    display: flex;
    flex-shrink: 0;
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    text-wrap: wrap;
}

.content-section {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 500px;
    padding-right: 500px;
    margin-bottom: 16px;
    background: #1f2937;
    padding-bottom: 16px;
    gap: 50px;
    min-width: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.primary-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    text-wrap: wrap;
}

.secondary-text {
    text-wrap: wrap;
    flex-wrap: wrap;
    width: 500px;
}

button {
    display: flex;
    padding: 8px;
    width: 72px;
    border-radius: 6px;
    justify-content: center;
}

.information-section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #e0e0e0;
    border: 2px dashed #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0a0a0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-radius: 8px;
  }
  
.image-placeholder::before {
    content: 'Image Placeholder';
    text-align: center;
  }

.card-container .secondary-text {
    display: flex;
    text-wrap: wrap;
    flex-wrap: wrap;
    width: 150px;
    color: black;
    text-align: center;
}

.quote-section {
    display: flex;
    justify-content: center;
}